



/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Merriweather', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-Merriweather{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */


.site-banner .banner-area{
    background: url(./imgs/jeshoots-com-pUAM5hPaCRI-unsplash.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/LaurenLinkedIn.jpg) no-repeat;
    background-size:contain;
    background-position: 40% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

div > img {
    display: block;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: auto;
    justify-items:baseline;
  }
  
  
  

/* #site-main */



.Projects{
margin-top: 15px;


}



.Education{
margin: 10 0 10 0;  
 

}



.Experience{

margin: 12 5 10 0px;


}




.Resume{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 40px;

}



.contact{
margin-left: 40px;   
text-align: left;
    
}


.card-img-top{
    display: block;
    margin: auto;
    margin-top: 5%;
}

.card-title{
    text-align: center;
}

.card{
    height: 150px;
}

div > style{
margin-right: 10px;

}



span#web-dev{
    display: flex;
    float: right;
    margin-right: 70px;
}



span#itil{
    display: flex;
    float: right;
    margin-right: 70px;
}


span#tech{
    display: flex;
    float: right;
    margin-right: 70px;
}


span#biz-ana{
    display: flex;
    float: right;
    margin-right: 70px;
}



span#sqa{
    display: flex;
    float: right;
    margin-right: 70px;
    }
    



span#msj{
display: flex;
float: right;
margin-right: 70px;
}



span#top-date {
    display: flex;
    float: right;
    margin-right: 50px;
}



span#thrive-dates{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
}


span#home-care-dates{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
}


span#cincinnati-public{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;

}


span#hamilton-county{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
}


