

/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Merriweather', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */
.font-Merriweather{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

h2 {
    padding-bottom: 35px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #232323;
    text-transform: uppercase;
}

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-primary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */


.site-banner .banner-area{
    background: url(./imgs/jeshoots-com-pUAM5hPaCRI-unsplash.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    background: url(./assets/LaurenLinkedIn.jpg) no-repeat;
    background-size:contain;
    background-position: 40% 0;
}


@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

div > img {
    display: block;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: auto;
    justify-items:baseline;
  }
  
  
  

/* #site-main */

/* start of skills section */

/* For your Skills section I gave it some padding on the left and 
right 8% and on the top and bottom 100px. This makes the flow of 
the website look less cluttered. You can do this to all your sections as well*/

#skills {
    padding: 100px 8% 0 8%;
}

/* here is an idea of how you can do your titles for the different sections */
/* #skills h2 {
    text-align: center; 
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 34px;
    text-decoration: underline; 
    color: #232323;
} */

#skills h5 {
    font-size: 14px; /* made font size a bit smaller */
}
/* end of skills section */



.Projects{
margin-top: 15px;
padding: 100px 8% 0 8%;


}
/* .Projects h2 {
    padding-bottom: 40px;
    text-align: center;
} */
.project-names {
    text-align: center;
    margin: 25px 0;
}
.project-names h3 {
    font-size: 28px;
    margin-bottom: 0;
}
.project-names .icons {
    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 
    0 6.7px 5.3px rgb(0 0 0 / 5%), 
    0 12.5px 10px rgb(0 0 0 / 6%), 
    0 22.3px 17.9px rgb(0 0 0 / 7%), 
    0 41.8px 33.4px rgb(0 0 0 / 9%), 
    0 100px 80px rgb(0 0 0 / 12%);
    margin: 10px;
}

.project-names .icons:hover {
    position: relative;
    bottom: 10px;
}
.project-names .description {
    padding: 30px 0 20px 0;
}



.Education{
margin: 10 0 10 0;  
padding: 100px 8% 0 8%;
 

}

.Education ul {
    list-style-type: none;

}
.Education ul li {
    padding: 10px 0;

}



.Experience {
    padding: 100px 8% 0 8%;
    margin: 12 5 10 0px;


}

.company-year {
    text-align: center;
}

.company-year .logo {
    max-width: 150px !important;
    max-height: auto !important;
    width: 100%;
}





.Resume{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 40px;

}



.contact{
margin-left: 40px;   
text-align: left;
    
}


.card-img-top{
    display: block;
    margin: auto;
    margin-top: 25px; /* changed this to 25px */
}

.card-title{
    text-align: center;
}

/* I changed the height from 150px to 200px and gave the card some padding as well */
.card{
    height: 200px;
    padding: 20px;
}

/* hover effect */
.card:hover {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

div > style{
margin-right: 10px;

}

/*** This is the css used to push your years to the right in your education section. 
You can delete the other css that was used for each one. I commented them out ***/
.year {
    display: flex;
    float: right;
    margin-right: 70px;
}

/* span #web-dev{
    display: flex;
    float: right;
    margin-right: 70px;
} */


/* span#tech{
    display: flex;
    float: right;
    margin-right: 70px;
}


span#biz-ana{
    display: flex;
    float: right;
    margin-right: 70px;
}



span#sqa{
    display: flex;
    float: right;
    margin-right: 70px;
}
    

span#msj{
display: flex;
float: right;
margin-right: 70px;
} */



span#top-date {
    display: flex;
    float: right;
    margin-right: 50px;
}



span#thrive-dates{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
}


span#home-care-dates{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
}


span#cincinnati-public{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;

}


span#hamilton-county{
    display: flex;
    text-align: right;
    float: right;
    margin-right: 50px;
}